[Unit]
Description=RSP Software Toolkit Gateway Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
StandardError=null
StandardOutput=null
WorkingDirectory=/opt/rsp-sw-toolkit-gw/compose
ExecStart=/bin/sh -c "export HOSTNAME=$(hostname); docker-compose -p rsp -f /opt/rsp-sw-toolkit-gw/compose/docker-compose.yml up 2>&1 | tee -a /var/log/rsp-gw.log /dev/tty2 &"
ExecStop=/bin/sh -c "docker-compose -p rsp -f /opt/rsp-sw-toolkit-gw/compose/docker-compose.yml down -v"

[Install]
WantedBy=multi-user.target